body {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.header {
    padding-top: 12px;
    font-size: 36px;
}

div.display {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;

    width: calc(100px * 4);
    height: 50px;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}

div.buttons {
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
}

button {
    width: 100px;
    height: 100px;
    font-size: 24px;
}

button.clear {
    width: calc(100px * 3);
}